.App {
  text-align: center;
}

.App-header {
  height: 100px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.center-div {
  margin: 0 auto;
  width: 100px;
}

.App-intro {
  font-size: large;
}
