/*
 * BODY ***********
 */
body {
  font-family: "Work Sans", sans-serif;
  color: #7a7c80;
}

h1,
h2,
h3,
h4,
h5 {
  color: #f7910b;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #f7910b;
}

button {
  border-radius: 5px;
  border-color: inherit;
  background-color: #f7910b;
  color: white;
  padding: 15px;
  margin: 0px 10px;
  font-family: inherit;
  font-size: 14px;
  transition: 0.2s ease;
}

button:hover {
  background-color: white;
  color: #f7910b;
}

input {
  padding: 15px;
  margin: 0px 10px;
  width: 250px;
  font-size: 14px;
}

input:focus,
button:focus {
  outline: none;
}

a {
  color: #406992;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/*
 * NAVBAR ***********
 */
.navbar {
  list-style-type: none;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 5px;
  top: 0;
  overflow: hidden;
  text-align: center;
  background-color: white;
}

.navbar-item {
  padding: 10px 20px;
  color: #f7910b;
  font-weight: 300;
  transition: 0.2s ease;
  float: right;
}

.item-border {
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: #e5e5e5;
}

.navbar-item:hover {
  background-color: #fafafa;
}

.saLogo {
  width: 110px;
  height: 75px;
  float: left;
}


/*
 * FOOTER ***********
 */
 .Footer {
   margin-top: 50px;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: flex-start;
   width: 100%;
   border-style: solid;
   border-width: 1px 0px 0px 0px;
   border-color: #f7910b;
   font-size: 12px;
 }

 .footer-column {
   padding: 10px;
   width: 400px;
   text-align: center;
 }

.Footer img {
  padding: 15px;
  width: 125px;
}


/*
 * COMPONENTS ***********
 */
.WelcomeComponent {
  padding: 100px 50px 5px 50px;
}

.DashboardComponent {
  display: flex;
  flex-direction: column;
  padding: 5px 50px 5px 50px;
}

.SavedComponent {
  margin-top: 25px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  padding: 10px 10px 25px 10px;
  background-color: #295684;
  color: white;
}

.SavedComponent h3 {
  color: white;
  border-color: white;
}

.list-items {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  margin: 5px;
  width: 250px;
  height: 75px;
}

.child-component {
  margin-bottom: 25px;
}
