.pg-title-custom {
    font-family: fantasy, Calibri, Candara, Arial, sans-serif;
    margin-top: 20%;
    margin-bottom: 20%;
}
.panel-primary-custom {
    border-radius: 0;
}
.panel-heading-custom {
    padding: 3% 0;
    border-radius: 0;
}
.panel-body-custom {
    padding: 15% 15%;
}
.input-group-addon:first-child {
    border-right: 0;
    min-width: 70px;
    border-radius: 0;
}
.label-custom {
    margin: 0;
    padding: 0;
}
.form-group-custom {
    margin-bottom: 45px;
}
.sbmt-btn-custom {
    /*float: none;*/
    min-width: 100%;
    padding: 3% 0;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0;
}
.alert-info-custom {
    border-radius: 0;
}
.pnl-wrapper-custom {
    text-align:center;
    margin-bottom: 20%;
}
