body {
    margin-left: 10px;
    font-family: Arial;
}

.panel-primary .panel-body {
    margin-bottom: 0px;
}

#levenshtein p{
    background-color: #5cb85c;
    color: white;
    padding: 5px;
    margin-left: 10px;
}

#errors p {
    background-color: #f44336;
    color: white;
    padding: 5px;
    margin-left: 10px;
}
