<html ng-app="MinimumEditDistance">
    <head>
        <title>Welcome to Jubilant Pancake!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container m-1">
            <div class="lead">Welcome to the Jubilant Pancake Minimum Edit Distance calculator.</div>
            <div class="lead">You can use this tool to calculate a simplified <a href="https://en.wikipedia.org/wiki/Edit_distance">minimum edit distance</a> between two strings.  Simply enter your two strings, and click the calculate button!</div>
            <med-form></med-form>
        </div>
        <script type="text/javascript" src="/static/js/lib/angular.min.js"></script>
        <script type="text/javascript" src="/static/js/minimum-edit-distance/app.js"></script>
    </body>
</html>
