<html ng-app="MinimumEditDistance">
	<head>
		<title>Welcome to Jubilant Pancake!</title>
	</head>
	<body>
		<div class="content">
			<div>Welcome to the Jubilant Pancake Minimum Edit Distance calculator.</div>
			<div>You can use this tool to calculate a simplified <a href="https://en.wikipedia.org/wiki/Edit_distance">minimum edit distance</a> between two strings.  Simply enter your two strings, and click the calculate button!</div>
			<med-form></med-form>
		</div>
		<script type="text/javascript" src="/static/js/lib/angular.min.js"></script>
		<script type="text/javascript" src="/static/js/minimum-edit-distance/app.js"></script>
	</body>
</html>
