<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <title>Jubilant Pancake</title>
</head>
<body>
    <h1>Edit distance calculator</h1>
    <p>
        Get the minimum edit distance between 2 inputs.
    </p>
    <input type="text" value="" id="input_1" name="input_1" />
    <div class="placeholder">
        <span id="edit_distance"></span>
    </div>
    <input type="text" value="" id="input_2" name="input_2" />
    <script src="static/js/jquery.min.js"></script>
</body>
</html>