<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Michael Dadurian's Jubilant Pancake</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/style.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<script>
		
			$(document).ready( function() {
			
				$("#mainForm").submit(function(event) {
					
					event.preventDefault();
				   	var formData = JSON.stringify($("#mainForm").serializeArray());
				   	console.log("start");
				   	console.log(formData);
				   	$.ajax({
						type: 'POST',
						contentType: 'application/json',
						data: formData,
						dataType: 'html',
						url: '/index',
						success: function (e) {
				
							document.getElementById("editDistance").innerHTML = JSON.parse(e).edit_distance;

						},
						error: function(error) {
						console.log(error);
					}
					});
				   	// stop the form from submitting the normal way and refreshing the page
				
					
				});
			});
		</script>
    </head>
	
    <body>
		<div class = "container-fluid" >
			<h1 class=" text-center text-primary" id="h1-compute">Compute Edit Distance</h1>
			<div class="well">
				<div class="row">
					<div class="col-lg-6">
  
						<form method='post' name="mainForm" id="mainForm"> 
							<div class="form-group">
								<label for="string1"> First String:  </label>
								</br>
								<input class="text-primary" type="text" name="string1" id="string1" value={{string1}} >
								</br></br>
							</div>
							
							<div class="form-group">
								<label for="string2"> Second String: </label>
								</br>
								<input class="text-primary" type="text" name="string2" id="string2" value={{string2}}> 
								</br></br>
							</div>
							
							<button class="btn btn-primary" type="submit" name = "button" id = "button">Get Edit Distance</button> 
							</br></br>
					</div>
						
					
					</form>
					
					<div class="col-lg-6">
						<h2 class="text-center text-primary display-1 font-weight-bold" name = "editDistance" id="editDistance">{{response}}</h2>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>